.CountryCard {
    width: 264px;
    height: 320px;
    background-color: var(--Dark-Blue);
    border-radius: 5px;
    overflow: hidden;
}

.CountryCard:hover {
    cursor: pointer;
    border: 1px solid white;
}

/* .CountryCard .NavLink>div p {
    text-decoration: none;

} */

.CountryCard .card-info {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

.CountryCard .card-info h2 {
    font-size: 1rem;
}

.CountryCard .card-info p {
    font-size: 0.8rem;
    font-weight: 100;
}

.CountryCard .card-info p span {
    font-weight: 800;
}

.CountryCard .card-flag {
    width: 264px;
    height: 160px;
}

.CountryCard .card-flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}