.CountryDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 1.5em;
    background-color: var(--Very-Dark-Blue-bg);
    color: white;
    font-size: 0.8rem;
    font-weight: 100;
}

.CountryDetails>* p span {
    font-weight: 400;
}

.CountryDetails .back-btn,
.CountryDetails .bordered-country-btn {
    background: none;
    border: none;
    color: rgb(182, 179, 179);
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--Dark-Blue);
    padding: 0.4em 1.5em;
    border-radius: 2px;
}

.CountryDetails .bordered-country-btn:hover {
    cursor :pointer;
    border: 1px solid white;
}

.CountryDetails .back-btn:hover {
    cursor: pointer;
    border: 1px solid white;
}

/* Flag */
.CountryDetails .flag-img-con {
    width: auto;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
    align-self: center;

}

.CountryDetails .flag-img-con img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Flag */

.CountryDetails .main-details,
.CountryDetails .extra-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.CountryDetails .border-countries {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em
}

.CountryDetails .bordered-countries-con {

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}