.Header {
    height: 80px;
    background-color: var(--Dark-Blue);
    color: white;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 3.5%;
}

.Header button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
    padding: 0.5em 1em;
    border: 1px solid transparent;

}

.Header button:hover {
    cursor: pointer;
    border: 1px solid black;
}

.Header button .font-awesome-moon {
    transform: rotate(-30deg);
}

.Header .mode-color {
    color: black;
}

@media (min-width: 1024px) {
    .Header {
        font-size: 1rem;
    }

    .Header button {
        font-size: 1rem;
    }
}