.Main {
    height: 100%;
    background-color: var(--Very-Dark-Blue-bg);
    padding: 1.5em 1em;
}

.Main .search-bar {
    padding: 1rem;
    background-color: var(--Dark-Blue);
    display: flex;
    align-items: center;
    gap: 1.5em;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.Main .search-bar input {
    background: none;
    border: none;
    color: white;
    outline: none;
}

.Main .main-header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem
}

.white-mode::placeholder {
    color: var(--Dark-Gray);
}

.Main .options-wrapper {
    overflow: hidden;
    transition: height 0.4s ease-in;
    position: absolute;
    width: 180px;
    top: 47px;

}

.Main .dropdown {
    width: 180px;
    position: relative;

}

.Main .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Main .drop-icon {
    color: white;
    font-size: 0.6em;
}

.Main .dropdown-list,
.Main .dropdown-header {
    background-color: var(--Dark-Blue);
    border-radius: 5px;
}

.Main .dropdown-list {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    padding: 0.5em 0em;

}


.Main .dropdown-list button,
.Main .dropdown-header button {
    background: none;
    border: none;
    color: white;
    text-align: start;
    padding: 1em;
}

.Main .drop-icon {
    padding: 1em;
}

.Main .dropdown-list button {
    padding: 0.5em 1em;
}

.Main .dropdown-list button:hover {
    background: var(--Dark-Gray);
    cursor: pointer;
}

.Main .countries-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* RESPONSIVE */

@media (min-width: 1024px) {

    .Main .search-bar {
        width: 35%;
    }

    .Main .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0em 2em;
    }

}