*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  /*(Dark Mode Elements)*/
  --Very-Dark-Blue-bg: hsl(207, 26%, 17%);
  /*(Dark Mode Background)*/
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  /*(Light Mode Text)*/
  --Dark-Gray: hsl(0, 0%, 52%);
  /*(Light Mode Input)*/
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /*(Light Mode Background)*/
  --White: hsl(0, 0%, 100%);
  /*(Dark Mode Text & Light Mode Elements) */
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  height: 100vh;
}